.search-bar input {
  width: 50%;
  text-align: center;
  height: 15px;
}
.search-bar {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.video-detail{
text-align: center;
}
.video-detail .selected-video{
  height: 30rem;
  width: 50rem;
}
.video-item {
text-align: right;
margin-left: 20px;
}
.video-load{
  text-align: center;
}
.video-list{
  position: relative;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  text-align: center;
}